:root {
    --primary-color: #2C3E50;
    --secondary-color: #FFFFFF;
    --accent-color: #C35416;
    --font-size-h1: 3.8rem;
    --font-size-h2: 3.1rem;
    --font-size-h3: 2.4rem;
    --font-size-h4: 1.9rem;
    --font-size-h5: 1.6rem;
    --font-size-h6: 1.25rem;
    --font-size-h7: 0.88rem;
    --font-size-h8: 0.56rem;
    --font-size-mobile-h1: 1.5rem;
    --font-size-mobile-h2: 1.2rem;
    --font-size-mobile-h3: 0.94rem;
    --font-size-mobile-h4: 0.69rem;
    --font-size-mobile-h5: 0.56rem;
    --font-size-mobile-h6: 0.44rem;
    --table-border: 2px solid var(--accent-color);
    --main-font: 'Roboto', sans-serif;
    --heading-font: 'Poppins', sans-serif;
    --font-style: normal;
    --font-weight: 400;

}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header {
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--accent-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    margin-bottom: 4px;
}

.logo img {
    height: 3rem;
    width: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    position: relative;
}

nav ul li a.active {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

nav ul li a:hover {
    margin: 2px;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

main {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: var(--font-size-h1);
    margin-bottom: 10px;
}

h3 {
    font-size: var(--font-size-h3);
    margin-bottom: 140px;
}

.comparison-table table {
    width: 1128px;
    height: 1025px;
    margin: 0 auto;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-collapse: collapse;
    border: var(--table-border);
}

.comparison-table th, .comparison-table td {
    border: var(--table-border);
    padding: 20px;
    text-align: center;
}

.featured-shows {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    gap: 0; 
    width: 1200px; 
    margin: 40px auto; 
}

.featured-shows figure {
    margin: 0;
    padding: 0;
}

.featured-shows img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1px;
    border-top: 2px solid var(--accent-color);
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}

footer ul li a {
    color: var(--secondary-color);
    text-decoration: none;
}

footer p {
    margin-top: 1px;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.logo img {
    height: 3rem;
    width: auto;
}


.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.menu li {
    margin: 0 20px;
}

.menu li a {
    color: var(--secondary-color);
    font-size: 1.5rem;
    text-decoration: none;
}

.menu li a.active {
    background-color: var(--accent-color);
    padding: 10px 20px;
}




.menu-icon {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    width: 25px; 
    height: 25px;
}

.hamburger {
    width: 25px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 2px 0;
    transition: 0.4s;
}
@media (max-width: 768px) {
    h1 {
        font-size: var(--font-size-mobile-h1);
    }

    h3 {
        font-size: var(--font-size-mobile-h3);
    }


    .menu {
        display: none;
    }

    .menu-icon {
        display: flex;
    }

    .menu-toggle:checked + .menu-icon .hamburger:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle:checked + .menu-icon .hamburger:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked + .menu-icon .hamburger:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .menu-toggle:checked ~ .menu {
        display: flex; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: var(--primary-color);
        padding: 20px 0;
        z-index: 1000;
        align-items: center;
    }

    .menu {
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu-toggle:checked ~ .menu .menu-icon {
        display: flex;
        justify-content: center;
        margin: 10px 0;
        position: relative;
        left: 0;
    }

    .menu-toggle:checked ~ .menu .menu-icon .hamburger {
        margin: 0;
    }

    .menu-toggle:checked ~ .menu {
        margin-top: 20px;
    }


}

